<launch>
  <include file="$(find ouster_ros)/launch/rvl.launch">
  </include>
  <include file="$(find mobinn_4w_bringup)/launch/mobinn_4w_bringup.launch">
  </include>

  <arg name="urdf_file" default="$(find xacro)/xacro --inorder '$(find mobinn_4w_description)/urdf/mobinn_4w.urdf.xacro'" />
  <param name="robot_description" command="$(arg urdf_file)" />

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="use_gui" value="false"/>
    <param name="rate" value="50"/>
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="50.0" />
    <param name="tf_prefix" value=""/>
  </node>
  <node name="mobinn2twist" pkg="mobinn2twist" type="convert.py">
  </node>
  <include file="$(find fast_lio)/launch/mapping_ouster64.launch">
  </include> 
  <include file="$(find snu_localization)/launch/localization.launch">
  </include>

  <node pkg="tf" type="static_transform_publisher" name="kinect_base_link5" args="0 0 0 1.57 0 0 odom base_footprint 100"/>

  <node name="rviz_mobinn" pkg="rviz" type="rviz" args="-d $(find mobinn_4w_description)/rviz/model.rviz" if="false" />

  <include file="$(find my_rvl_navigation)/launch/move_base.launch">
  </include>

</launch>
